/* Imports Poppins font 600 weight */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Imports Open Sans font 400, 600, and 700 weight */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Sets universal CSS variables */
:root {
    --primary-color: hsl(322, 100%, 66%);
    --secondary-color: hsl(192, 100%, 9%);
    --tertiary-color: hsl(208, 11%, 55%);
    --quaternary-color: hsl(207, 100%, 98%);
    --quinary-color: hsl(321, 100%, 78%);
    --senary-color: hsl(0, 100%, 63%);
    --septenary-color: hsl(192, 98%, 55%);
    --white: white;
}

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Formats all body elements */
body {
    position: relative;
}

/* Formats all H1 elements */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    color: var(--secondary-color);
}

/* Formats P elements after H1 elements */
h1 + p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--secondary-color);
}

/* Formats all H2 elements */
h2 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
}

/* Formats P elements after H2 elements */
h2 + p {
    color: var(--tertiary-color);
    font-size: 0.7rem;
}

/* Formats all H3 elements */
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

/* Formats all P elements */
p {
    line-height: 1.5;
}

/* Formats all link elements */
a {
    text-decoration: none;
}

/* Formats all images */
img {
    
}

/* Formats all icon elements */
i {
    position: absolute;
}

/* TYPE FORMATTING */
/* Place all type formatting here. */

/* Formats all inputs with type email */
input[type=email] {
    width: 100%;
    padding: 0.8rem;
    color: var(--quinary-color);
    margin: 1rem;
    border-radius: 0.4rem;
}

/* Formats all inputs with type submit */
input[type=submit] {
    width: 50%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--primary-color);
    border: 1px none;
    color: var(--quaternary-color);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    align-self: flex-end;
}

/* Formats hover state of all inputs with type submit */
input[type=submit]:hover {
    background-color: var(--septenary-color);
}


/* CLASS FORMATTING */
/* Place all class formatting here. */

/* Formats 2 start buttons */
.startbtn {
    font-size: 18px;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(73, 66, 92, 0.2), 0 6px 20px 0 rgba(73, 66, 92, 0.19);
    width: 14em;
    height: 2.5em;
    margin: 2.5em 0;
}

/* Formats the hover state of 2 start buttons */
.startbtn:hover {
    background-color: var(--quinary-color);
}

/* Formats 2 start button links */
.startbtnlnk {
    color: var(--quaternary-color);
    font-weight: 700;
    font-size: 0.65em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* Formats 2 stats boxes */
.statsbox {
    
}

/* Formats 2 stats image boxes */
.statsimgbox {
    
}

/* Formats 2 stats images */
.statsimg {
    width: 100%;
}

/* Formats 2 stats numbers */
.statsnum {
    font-size: 3.5rem;
    color: var(--secondary-color);
    font-weight: 700;
}

/* Formats 2 stats informations */
.statsinfo { 
    margin: 0.5rem 0;
    color: var(--tertiary-color);
    font-size: 0.9rem;
}

/* Formats 3 card containers */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Formats 5 wave images */
.wave {

}

/* Formats 3 image boxes in card containers */
.cardimgbox {
    margin: auto;
    width: 70%;
    padding: 2.5rem 0;
}

/* Formats 3 images in card containers */
.cardimg {
    margin: 1.5rem 0;
    width: 100%;
}

/* Formats text boxes in card containers */
.cardtext {
    width: 75%;
    margin: auto;
    padding-bottom: 3rem;
}

/* Formats headings in card containers */
.cardh2 {
    font-weight: 700;
}

/* Formats para text in card containers */
.cardp {
    color: var(--secondary-color);
}

/* Formats column 1 rows */
.inforow {
    justify-content: flex-start;
    align-content: flex-start;
}

/* Formats icon boxes in column 1 of the footer */
.iiconbox {
    height: 0.9rem;
    padding: 0.2rem;
}

/* Formats icons in column 1 of the footer */
.iicon {

}

/* Formats para text in column 1 of the footer */
.irp {
    font-size: 0.8rem;
    padding: 0 1rem 1.3rem 1rem;
}

/* Formats icon boxes/borders in footer */
.icon {
    position: relative;
    height: 1.34em;
    width: 1.34em;
    margin: 0.4em;
}

/* Formats icons in bottom right box */
.icon > a > i {
    color: var(--quaternary-color);
}

/* Formats hover state of icon borders in footer */
.icon:hover {
    
}

/* Formats hover state of icons in bottom right box */
.icon:hover > a > i {
    color: var(--septenary-color);
}

/* Formats icon links in footer */
.iconlink {
    
}


/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation for all other boxes */
#showbox {
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Formats the main container */
#bigbox {   
    position: relative;
}

/* Formats the insulation box inside the main container */
#inside {
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Formats the box that holds the logo and try it button at the top of the page */
#logobuttonbox {
    position: relative;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Formats the logo box at the top of the page */
#logobox {
    width: 30%;
}

/* Formats the logo image at the top of the page */
#logotop {
    width: 100%;
}

/* Formats the try it button at the top of the page */
#trybutton {
    position: relative;
    font-size: 18px;
    border: 1px solid var(--quinary-color);
    background-color: var(--white);
    border-radius: 2em;
    width: 7em;
    height: 1.5em;
}

/* Formats the hover state of try it button */
#trybutton:hover {
    opacity: 0.5;
}

/* Formats the try it button link at the top of the page */
#tryit {
    color: var(--quinary-color);
    font-weight: 700;
    font-size: 0.6em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* Formats the top box */
#topbox {
    position: relative;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

/* Formats the bottom box of the top box */
#topinfomockbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 83%;
    padding: 5.5rem 0 1rem 0;
    text-align: center;
}

/* Formats the first box of the top box */
#topfirstbox {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Formats the heading of the first box of the top box */
#topfirsth {

}

/* Formats the para text of the first box of the top box */
#topfirstp {

}

/* Formats the top start button */
#startbtn1 {

}

/* Formats the top start button link */
#startbtnlnk1 {

}

/* Formats the second box of the top box */
#topsecondbox {
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 0 0;
}

/* Formats the mockups image */
#mockups {
    width: 95%;
}

/* Formats the stats box */
#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2.5rem 0 0 0;
}

/* Formats stats box 1 */
#statsbox1{
    margin: 2.5rem;
}

/* Formats the stats image box 1 */
#statsimgbox1 {
    width: 1.75rem;
}

/* Formats stats image 1 - Communities */
#statsimg1 {
    width: 100%;
}

/* Formats stats numbers 1 */
#statsnum1 {

}

/* Formats stats information para text 1 */
#statsinfo1 {

}

/* Formats stats box 1 */
#statsbox2{
    margin: 2.5rem 2.5rem 0 2.5rem;
}

/* Formats the stats image box 1 */
#statsimgbox2 {
    width: 1.25rem;
}

/* Formats stats image 1 - Communities */
#statsimg2 {
    width: 100%;
}

/* Formats stats numbers 1 */
#statsnum2 {

}

/* Formats stats information para text 1 */
#statsinfo2 {

}

/* Formats the box holding 3 cards */
#cardbox {
    position: relative;
    width: 100%;
    margin: 0 0;
}

/* Formats first wave image */
#wave1 {
    background: url(../images/bg-section-top-mobile-1.svg) no-repeat bottom;
    background-size: 100% 100%;
    height: 112px;
    width: 100%;
}

/* Formats card 1 */
#card1 {
    background-color: var(--quaternary-color);
}

/* Formats the box holding the image in card 1 */
#card1imgbox {

}

/* Formats the image in card 1 */
#grow {

}

/* Formats the text box in card 1 */
#card1text {

}

/* Formats the heading in the text box in card 1 */
#card1h2 {

}

/* Formats the para text in the text box in card 1 */
#card1p {

}

/* Formats second wave image */
#wave2 {
    background: url(../images/bg-section-bottom-mobile-1.svg) no-repeat top;
    background-size: 100% 100%;
    height: 52px;
    width: 100%;
}

/* Formats card 2 */
#card2 {
    margin: 3.5rem 0;
}

/* Formats the box holding the image in card 2 */
#card2imgbox {

}

/* Formats the image in card 2 */
#flow {

}

/* Formats the text box in card 2 */
#card2text {

}

/* Formats the heading in the text box in card 2 */
#card2h2 {

}

/* Formats the para text in the text box in card 2 */
#card2p {

}

/* Formats third wave image */
#wave3 {
    background: url(../images/bg-section-top-mobile-2.svg) no-repeat bottom;
    background-size: 100% 100%;
    height: 103px;
    width: 100%;
}

/* Formats card 3 */
#card3 {
    background-color: var(--quaternary-color);
}

/* Formats the box holding the image in card 3 */
#card3imgbox {
    padding: 0 0 2.5rem 0;
}

/* Formats the image in card 3 */
#users {
margin: 0 0 1.5rem 0;
}

/* Formats the text box in card 3 */
#card3text {
    margin-bottom: 3rem;
}

/* Formats the heading in the text box in card 3 */
#card3h2 {

}

/* Formats the para text in the text box in card 3 */
#card3p {

}

/* Formats fourth wave image */
#wave4 {
    background: url(../images/bg-section-bottom-mobile-2.svg) no-repeat top;
    background-size: 100% 100%;
    height: 101px;
    width: 100%;
}

/* Formats the invitation box in the footer */
#invitation {
    justify-content: space-around;
    align-items: center;
    width: 92%;
    padding: 5rem 0 9rem 0;
    color: var(--secondary-color);
    text-align: center;
}

/* Formats the text in the invitation box in the footer */
#invitationtext {

}

/* Formats start button 2 */
#startbtn2 {

}

/* Formats start button 2 link */
#startbtnlnk2 {

}

/* Formats the wave image before the footer */
#wave5 {
    background: url(../images/bg-footer-top-mobile.svg) no-repeat bottom;
    background-size: 100% 100%;
    height: 53px;
    width: 100%;
}

/* Formats the footer at the bottom of the page */
#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 2.5em 2em 3em 2em;
}

/* Formats the box holding the newsletter heading, para text, and email form */
#newsletterbox {

}

/* Formats the heading in the newsletter box */
#newsletterh3 {
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1rem 0;
}

/* Formats the para text in the newsletter box */
#newsletterp {
    line-height: 1.8;
    font-size: 0.73rem;
    padding-right: 0.5rem;
}

/* Formats the box holding the form */
#emailformbox {
    
}

/* Formats the form */
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

/* Formats the email input in the form */
#emailinput {
    
}

/* Formats the email submit button in the form */
#emailsubmit {

}

/* Formats box holding bottom logo and contact info in the footer */
#logoinfobox {
    position: relative;
    width: 100%; 
    margin-top: 5rem;
}

/* Formats box holding bottom logo in the footer */
#logobottombox {
    width: 70%;
}

/* Formats bottom logo in the footer */
#logobottom {
    width: 100%;
}

/* Formats the para text in the footer */
#footerp {
    font-size: 0.75rem;
    line-height: 1.8;
}

/* Formats row 1 of the footer */
#inforow1 {
    margin-top: 2rem;
}

/* Formats the box holding the phone icon */
#inforowphone {
    
}

/* Formats the phone icon */
#phonei {

}

/* Formats the phone info */
#phonep {

}


/* Formats row 2 of the footer */
#inforow2 {

}

/* Formats the box holding the email icon */
#inforowemail {

}

/* Formats the email icon */
#emaili {

}

/* Formats the email info */
#emailp {

}

/* Formats icon row of the footer */
#footerslnks {
    position: relative;
    justify-content: baseline;
    align-items: baseline;
    padding: 1em 0 0 0;
}

/* Formats icon box 1 */
#iconbox1 {
    border-radius: 10%;
    color: var(--primary-color);
    background-color: var(--quaternary-color);
}

/* Formats the hover state of icon box 1 */
#iconbox1:hover {
    background-color: var(--septenary-color);
}

/* Formats facebook link icon */
#facebooklnk > i {
    color: var(--secondary-color);
    font-size: 1.05em;
    top: 0.17em;
    right: 0.07em;
}

/* Formats icon box 2 */
#iconbox2 {
    height: 1.5em;
    width: 1.5em;
}

/* Formats instagram link icon */
#instagramlnk > i {
    font-size: 1.5em; 
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* Formats icon box 3 */
#iconbox3 {
    border-radius: 10%;
    background-color: var(--quaternary-color);
}

/* Formats the hover state of icon box 3 */
#iconbox3:hover {
    background-color: var(--septenary-color);
}

/* Formats twitter link icon */
#twitterlnk > i {
    color: var(--secondary-color);
    font-size: 0.9em;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}




/* Responsive CSS */

/* Makes any element a flex row */
.flexr {
    display: flex;
    flex-direction: row;
}

/* Makes any element a flex column */
.flexc {
    display: flex;
    flex-direction: column;
}

/* Changes settings at 768px screen size to 1023px screen size*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Changes the rem base */
    html {
        font-size: 20px;
    }

    /* Changes the size of all H1 elements */
    h1 {
        font-size: 1.9rem;
    }

    /* Changes the size of all H1 elements */
    h2 {
        font-size: 1.65rem;
    }

    /* Changes the width, border radius, padding and margin of the email form input */
    input[type=email] {
        width: 70%;
        padding: 0.6rem;
        margin: 0 1.5rem 0 0;
        border-radius: 0.3rem;
    }

    /* Changes width, padding, border radius, font size, and letter spacing of the submit form button */
    input[type=submit] {
        width: 30%;
        padding: 0.6rem;
        border-radius: 0.3rem;
        font-size: 0.6rem;
        letter-spacing: 0;
    }

    /* Changes the em base and margin of the start buttons */
    .startbtn {
        font-size: 30px;
        margin: 2rem 0;
    }

    /* Changes the font size of the stats number */
    .statsnum {
        font-size: 4rem;
    }

    /* Changes the font size of the stats text */
    .statsinfo { 
        font-size: 1rem;
    }

    /* Changes the orientation, alignment, text alignment, and padding on the 3 card containers */
    .card {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-content: center;
        text-align: left;
        padding: 1.4rem 0 1rem 0;
    }

    /* Changes the width and padding on the image boxes in the card containers */
    .cardimgbox {
        width: 35%;
        padding: 0;
    }

    /* Changes the width and padding on the text boxes in the card containers  */
    .cardtext {
        width: 39%;
        padding-bottom: 0;
    }

    /* Changes the font size and padding of the rows in the footer */
    .irp {
        font-size: 0.7rem;
        padding: 0 1rem 0.7rem 1rem;
    }

    /* Changes the size and margin of the icon boxes in the footer */
    .icon {
        height: 1.8em;
        width: 1.8em;
        margin: 0.5em;
    }

    /* Changes the width and padding of the box holding the top logo and Try It button */
    #logobuttonbox {
        width: 92%;
        padding: 3rem 0;
    }

    /* Changes the width of the logo box at the top of the page */
    #logobox {
        width: 17%;
    }

    /* Changes the em base of the button */
    #trybutton {
        font-size: 24px;
    }

    /* Changes the width and padding of the top box */
    #topinfomockbox {
        width: 83%;
        padding: 6rem 0 1rem 0;
    }

    /* Changes the width of the para text in the top box */
    #topfirstp {
        width: 50%;
    }

    /* Changes the orientation, alignment, width, and margin of the stats box */
    #stats {
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin: 3rem 0 5rem 0;
    }

    /* Changes the margin of the first stats box */
    #statsbox1{
        margin: 0;
        
    }

    /* Changes the width of the first stats image box */
    #statsimgbox1 {
        width: 2rem;
    }

    /* Changes the margin of the second stats box */
    #statsbox2{
        margin: 0;
    }

    /* Changes the width of the second stats image box */
    #statsimgbox2 {
        width: 1.6rem;
    }

    /* Changes the background and height of the first wave */
    #wave1 {
        background: url(../images/bg-section-top-desktop-1.svg) no-repeat bottom;
        height: 165px;
    }

    /* Changes the background and height of the second wave */
    #wave2 {
        background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat top;
        height: 139px;
    }

    /* Changes the orientation and margin of card 2 */
    #card2 {
        flex-direction: row;
        margin: 5rem 0 2rem 0;
    }

    /* Changes the background and height of the third wave */
    #wave3 {
        background: url(../images/bg-section-top-desktop-2.svg) no-repeat bottom;
        height: 156px;
    }

    /* Changes the padding in the card 3 image box */
    #card3imgbox {
        padding: 0;
    }

    /* Changes the margin in card 3 text box */
    #card3text {
        margin-bottom: auto;
    }

    /* Changes the background and height of the fourth wave */
    #wave4 {
        background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat top;
        height: 139px;
    }

    /* Changes the padding in the invitation box */
    #invitation {
        padding: 6rem 0 5rem 0;
    }

    /* Changes the text size in the invitation box */
    #invitationtext {
        font-size: 1.7rem
    }

    /* Changes the margin in of the start button */
    #startbtn2 {
        margin: 1em 0;
    }

    /* Changes the background and height of the fifth wave */
    #wave5 {
        background: url(../images/bg-footer-top-desktop.svg) no-repeat bottom;
        height: 158px;
    }

    /* Changes the orientation, alignment, and padding of the footer */
    #footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: flex-start;
        padding: 6em 5em 5.5em 6em;
    }

    /* Changes the width of the newsletter box */
    #newsletterbox {
        width: 50%;
    }

    /* Changes the padding in the newsletter heading */
    #newsletterh3 {
        padding: 0.5rem 0;
    }

    /* Changes the font size and padding of the newsletter para text */
    #newsletterp {
        font-size: 0.6rem;
        padding-right: 7rem;
    }

    /* Changes the orientation and padding in the email form */
    #form {
        flex-direction: row;
        padding: 1rem 0;
    }

    /* Changes the width and margin of the box holding the logo and info */
    #logoinfobox {
        width: 40%;
        margin-top: auto;
    }

    /* Changes the font size and padding in the footer para text */
    #footerp {
        font-size: 0.6rem;
        padding-right: 1.5em;
    }

    /* Changes the margin of the first info row in the footer */
    #inforow1 {
        margin-top: 1em;
    }

    /* Changes the padding of the icon row of the footer */
    #footerslnks {
        padding: 3em 0 0 0;
    }

    /* Changes the size and position of the facebook icon */
    #facebooklnk > i {
        font-size: 1.5em;
        top: 0.07em;
        right: 0.08em;
    }

    /* Changes the size of the second icon icon box */
    #iconbox2 {
        height: 1.9em;
        width: 1.9em;
    }

    /* Changes the size of the instagram icon */
    #instagramlnk > i {
        font-size: 1.9em; 
    }

    /* Changes the size of the twitter icon */
    #twitterlnk > i {
        font-size: 1.2em;
    }
}


/* Changes settings at 1024px screen size */
@media only screen and (min-width: 1024px) {

    /* Changes the rem base */
    html {
        font-size: 24px;
    }

    /* Changes the size of all H1 elements */
    h1 {
        font-size: 1.9rem;
    }
    
    /* Changes the size of all H1 elements */
    h2 {
        font-size: 1.65rem;
    }

    /* Changes the width, border radius, padding and margin of the email form input */
    input[type=email] {
        width: 70%;
        padding: 0.6rem;
        margin: 0 1.5rem 0 0;
        border-radius: 0.3rem;
    }
    
    /* Changes width, padding, border radius, font size, and letter spacing of the submit form button */
    input[type=submit] {
        width: 30%;
        padding: 0.6rem;
        border-radius: 0.3rem;
        font-size: 0.6rem;
        letter-spacing: 0;
    }
    
    /* Changes the em base and margin of the start buttons */
    .startbtn {
        font-size: 30px;
        margin: 2rem 0;
    }

    /* Changes the font size of the stats number */
    .statsnum {
        font-size: 4rem;
    }

    /* Changes the font size of the stats text */
    .statsinfo { 
        font-size: 1rem;
    }

    /* Changes the orientation, alignment, text alignment, and padding on the 3 card containers */
    .card {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-content: center;
        text-align: left;
        padding: 1.4rem 0 1rem 0;
    }

    /* Changes the width and padding on the image boxes in the card containers */
    .cardimgbox {
        width: 35%;
        padding: 0;
    }

    /* Changes the width and padding on the text boxes in the card containers  */
    .cardtext {
        width: 39%;
        padding-bottom: 0;
    }

    /* Changes the font size and padding of the rows in the footer */
    .irp {
        font-size: 0.7rem;
        padding: 0 1rem 0.7rem 1rem;
    }

    /* Changes the size and margin of the icon boxes in the footer */
    .icon {
        height: 1.8em;
        width: 1.8em;
        margin: 0.5em;
    }

    /* Changes the width and padding of the box holding the top logo and Try It button */
    #logobuttonbox {
        width: 92%;
        padding: 3rem 0;
    }

    /* Changes the width of the logo box at the top of the page */
    #logobox {
        width: 17%;
    }

    /* Changes the em base of the button */
    #trybutton {
        font-size: 24px;
    }

    /* Changes the width and padding of the top box */
    #topinfomockbox {
        width: 83%;
        padding: 6rem 0 1rem 0;
    }

    /* Changes the width of the para text in the top box */
    #topfirstp {
        width: 50%;
    }

    /* Changes the orientation, alignment, width, and margin of the stats box */
    #stats {
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin: 3rem 0 5rem 0;
    }

    /* Changes the margin of the first stats box */
    #statsbox1{
        margin: 0;
        
    }

    /* Changes the width of the first stats image box */
    #statsimgbox1 {
        width: 2rem;
    }

    /* Changes the margin of the second stats box */
    #statsbox2{
        margin: 0;
    }

    /* Changes the width of the second stats image box */
    #statsimgbox2 {
        width: 1.6rem;
    }

    /* Changes the background and height of the first wave */
    #wave1 {
        background: url(../images/bg-section-top-desktop-1.svg) no-repeat bottom;
        height: 165px;
    }

    /* Changes the background and height of the second wave */
    #wave2 {
        background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat top;
        height: 139px;
    }

    /* Changes the orientation and margin of card 2 */
    #card2 {
        flex-direction: row;
        margin: 5rem 0 2rem 0;
    }
    
    /* Changes the background and height of the third wave */
    #wave3 {
        background: url(../images/bg-section-top-desktop-2.svg) no-repeat bottom;
        height: 156px;
    }

    /* Changes the padding in the card 3 image box */
    #card3imgbox {
        padding: 0;
    }

    /* Changes the margin in card 3 text box */
    #card3text {
        margin-bottom: auto;
    }

    /* Changes the background and height of the fourth wave */
    #wave4 {
        background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat top;
        height: 139px;
    }

    /* Changes the padding in the invitation box */
    #invitation {
        padding: 6rem 0 5rem 0;
    }

    /* Changes the text size in the invitation box */
    #invitationtext {
        font-size: 1.7rem
    }

    /* Changes the margin in of the start button */
    #startbtn2 {
        margin: 1em 0;
    }

    /* Changes the background and height of the fifth wave */
    #wave5 {
        background: url(../images/bg-footer-top-desktop.svg) no-repeat bottom;
        height: 158px;
    }

    /* Changes the orientation, alignment, and padding of the footer */
    #footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: flex-start;
        padding: 6em 5em 5.5em 6em;
    }

    /* Changes the width of the newsletter box */
    #newsletterbox {
        width: 42%;
    }

    /* Changes the padding in the newsletter heading */
    #newsletterh3 {
        padding: 0.5rem 0;
    }

    /* Changes the font size and padding of the newsletter para text */
    #newsletterp {
        font-size: 0.6rem;
        padding-right: 7rem;
    }

    /* Changes the orientation and padding in the email form */
    #form {
        flex-direction: row;
        padding: 1rem 0;
    }

    /* Changes the width and margin of the box holding the logo and info */
    #logoinfobox {
        width: 30%;
        margin-top: auto;
    }

    /* Changes the font size and padding in the footer para text */
    #footerp {
        font-size: 0.6rem;
        padding-right: 1.5em;
    }

    /* Changes the margin of the first info row in the footer */
    #inforow1 {
        margin-top: 1em;
    }

    /* Changes the padding of the icon row of the footer */
    #footerslnks {
        padding: 3em 0 0 0;
    }

    /* Changes the size and position of the facebook icon */
    #facebooklnk > i {
        font-size: 1.5em;
        top: 0.07em;
        right: 0.08em;
    }

    /* Changes the size of the second icon icon box */
    #iconbox2 {
        height: 1.9em;
        width: 1.9em;
    }

    /* Changes the size of the instagram icon */
    #instagramlnk > i {
        font-size: 1.9em; 
    }

    /* Changes the size of the twitter icon */
    #twitterlnk > i {
        font-size: 1.2em;
    }
}