/* Imports Poppins font 600 weight */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Imports Open Sans font 400 and 700 weight */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Sets universal CSS variables */
:root {
    --primary-color: hsl(322, 100%, 66%);
    --secondary-color: hsl(192, 100%, 9%);
    --tertiary-color: hsl(208, 11%, 55%);
    --quaternary-color: hsl(193, 100%, 96%);
    --white: white;
}

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Formats all body elements */
body {
    position: relative;
}

/* Formats all H1 elements */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    color: var(--secondary-color);
}

/* Formats P elements after H1 elements */
h1 + p {
    font-size: 0.88rem;
    font-weight: 400;
    color: var(--secondary-color);
}

/* Formats all H2 elements */
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
}

/* Formats P elements after H2 elements */
h2 + p {
    color: var(--tertiary-color);
    font-size: 0.75rem;
}

/* Formats all H3 elements */
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

/* Formats all P elements */
p {
    line-height: 1.5;
}

/* Formats all link elements */
a {
    text-decoration: none;
}

/* Formats all icon elements */
i {
    color: var(--quaternary-color);
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}


/* CLASS FORMATTING */
/* Place all class formatting here. */

/* Formats 2 start buttons */
.startbtn {
    font-size: 18px;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(73, 66, 92, 0.2), 0 6px 20px 0 rgba(73, 66, 92, 0.19);
    width: 14em;
    height: 2.5em;
    margin: 1.5rem 0;
}

/* Formats the hover state of 2 start buttons */
.startbtn:hover {
    opacity: 0.5;
}

/* Formats 2 start button links */
.startbtnlnk {
    color: var(--quaternary-color);
    font-weight: 700;
    font-size: 0.65em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* Formats 3 card containers */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(73, 66, 92, 0.2), 0 6px 20px 0 rgba(73, 66, 92, 0.19);
    aspect-ratio: 1 / 1.45;
    margin: 1rem 0;
    text-align: center;
}

/* Formats 3 image boxes in card containers */
.cardimgbox {
    margin: auto;
    width: 70%;
}

/* Formats 3 images in card containers */
.cardimg {
    margin-top: 1.5rem;
    width: 100%;
}

/* Formats text boxes in card containers */
.cardtext {
    width: 75%;
    margin: auto;
}

/* Formats headings in card containers */
.cardh2 {

}

/* Formats para text in card containers */
.cardp {

}

/* Formats column 1 rows */
.cr1 {
    justify-content: flex-start;
    align-content: flex-start;
}

/* Formats icon boxes in column 1 of the footer */
.c1iconbox {
    height: 0.9rem;
    padding: 0.2rem;
}

/* Formats icons in column 1 of the footer */
.c1icon {

}

/* Formats para text in column 1 of the footer */
.c1p {
    font-size: 0.9rem;
    padding: 0 1rem 1.3rem 1rem;
}

/* Formats text links in footer */
.footertextlink {
    color: var(--quaternary-color);
    padding: 0.5rem 0.5rem;
}

/* Formats hover state of text link in footer */
.footertextlink:hover {
    text-decoration: underline;
}

/* Formats icon boxes/borders in footer */
.icon {
    position: relative;
    height: 1.75em;
    width: 1.75em;
    border: 1px solid var(--quaternary-color);
    border-radius: 50%;
    margin: 0.4em;
}

/* Formats icons in bottom right box */
.icon > a > i {
    color: var(--quaternary-color);
}

/* Formats hover state of icon borders in footer */
.icon:hover {
    border: 1px solid var(--primary-color);
}

/* Formats hover state of icons in bottom right box */
.icon:hover > a > i {
    color: var(--primary-color);
}

/* Formats icon links in footer */
.iconlink {
    
}


/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation for all other boxes */
#showbox {
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Formats the main container */
#bigbox {   
    position: relative;
}

/* Formats the insulation box inside the main container */
#inside {
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Formats the top box */
#topbox {
    position: relative;
    width: 100vw;
    background: var(--quaternary-color) url(../images/bg-hero-mobile.svg) no-repeat top;
    background-size: 100% auto;
    justify-content: space-between;
    align-items: center;
}

/* Formats the box that hold the logo and try it button at the top of the top box */
#logobuttonbox {
    position: relative;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Formats the logo box at the top of the top box */
#logobox {
    width: 30%;
}

/* Formats the logo image at the top of the top box */
#logotop {
    width: 100%;
}

/* Formats the try it button at the top of the top box */
#trybutton {
    position: relative;
    font-size: 18px;
    background-color: var(--white);
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(73, 66, 92, 0.2), 0 6px 20px 0 rgba(73, 66, 92, 0.19);
    width: 7em;
    height: 1.5em;
}

/* Formats the hover state of try it button */
#trybutton:hover {
    opacity: 0.5;
}

/* Formats the try it button link at the top of the top box */
#tryit {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 0.6em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* Formats the bottom box of the top box */
#topinfomockbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 83%;
    padding: 3.5rem 0 1rem 0;
    text-align: center;
}

/* Formats the left box in the bottom box of the top box */
#topleftbox {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Formats the heading of the left box in the bottom box of the top box */
#toplefth {

}

/* Formats the para text of the left box in the bottom box of the top box */
#topleftp {

}

/* Formats the top start button */
#startbtn1 {

}

/* Formats the top start button link */
#startbtnlnk1 {

}

/* Formats the right box in the bottom box of the top box */
#toprightbox {
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 0 0;
}

/* Formats the mockups image */
#mockups {
    width: 95%;
}

/* Formats the box holding 3 cards */
#cardbox {
    position: relative;
    width: 90%;
    margin: 2rem 0;
}

/* Formats card 1 */
#card1 {

}

/* Formats the box holding the image in card 1 */
#card1imgbox {

}

/* Formats the image in card 1 */
#grow {

}

/* Formats the text box in card 1 */
#card1text {

}

/* Formats the heading in the text box in card 1 */
#card1h2 {

}

/* Formats the para text in the text box in card 1 */
#card1p {

}

/* Formats card 2 */
#card2 {

}

/* Formats the box holding the image in card 2 */
#card2imgbox {

}

/* Formats the image in card 2 */
#flow {

}

/* Formats the text box in card 2 */
#card2text {

}

/* Formats the heading in the text box in card 2 */
#card2h2 {

}

/* Formats the para text in the text box in card 2 */
#card2p {

}

/* Formats card 3 */
#card3 {

}

/* Formats the box holding the image in card 3 */
#card3imgbox {

}

/* Formats the image in card 3 */
#users {

}

/* Formats the text box in card 3 */
#card3text {

}

/* Formats the heading in the text box in card 3 */
#card3h2 {

}

/* Formats the para text in the text box in card 3 */
#card3p {

}

/* Formats the footer at the bottom of the page */
#footer {
    font-size: 18px;
    position: relative;
    background-color: var(--secondary-color);
    margin-top: 9.5em;
    color: var(--white);
    padding: 7.5em 1em 3em 1em;
}

/* Formats the invitation box in the footer */
#invitation {
    position: absolute;
    top: -2%;
    right: 50%;
    transform: translate(50%, -50%);
    justify-content: space-around;
    align-items: center;
    border-radius: .75em;
    box-shadow: 0 4px 8px 0 rgba(73, 66, 92, 0.2), 0 6px 20px 0 rgba(73, 66, 92, 0.19);
    background-color: var(--white);
    width: 92%;
    padding: 2rem 0 0.5rem 0;
    color: var(--secondary-color);
}

/* Formats the text in the invitation box in the footer */
#invitationtext {

}

/* Formats start button 2 */
#startbtn2 {

}

/* Formats start button 2 link */
#startbtnlnk2 {

}

/* Formats box holding bottom logo in the footer */
#footerlogobox {
   width: 50%; 
}

/* Formats bottom logo in the footer */
#footerlogo {
    width: 100%;
}

/* Formats the main box inside the footer */
#footermain {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0 0rem;
    color: var(--quaternary-color);
}

/* Formats column 1 of the footer */
#footerc1 {
    padding: 1em 0;
}

/* Formats row 1 of column 1 of the footer */
#footerc1r1 {

}

/* Formats the box holding the location icon */
#c1r1location {

}

/* Formats the location icon */
#locationi {

}

/* Formats the location info */
#locationp {

}

/* Formats row 2 of column 1 of the footer */
#footerc1r2 {

}

/* Formats the box holding the phone icon */
#c1r2phone {

}

/* Formats the phone icon */
#phonei {

}

/* Formats the phone info */
#phonep {

}

/* Formats row 3 of column 1 of the footer */
#footerc1r3 {

}

/* Formats the box holding the email icon */
#c1r3email {

}

/* Formats the email icon */
#emaili {

}

/* Formats the email info */
#emailp {

}

/* Formats column 2 of the footer */
#footerc2 {

}

/* Formats the about us text link */
#about {

}

/* Formats the what we do text link */
#what {

}

/* Formats the FAQ text link */
#faq {

}

/* Formats column 3 of the footer */
#footerc3 {

}

/* Formats the career text link */
#career {

}

/* Formats the blog text link */
#blog {

}

/* Formats the contact us text link */
#contact {

}

/* Formats column 4 of the footer */
#footerc4 {
    justify-content: center;
    align-content: center;
    padding: 2em 0 1em 0;
}

/* Formats icon box 1 */
#iconbox1 {

}

/* Formats facebook link */
#facebooklnk {

}

/* Formats icon box 2 */
#iconbox2 {

}

/* Formats twitter link */
#twitterlnk {
    
}

/* Formats icon box 3 */
#iconbox3 {

}

/* Formats instagram link */
#instagramlnk {
    
}

/* Formats copyright info in footer */
#footercopyright {
    text-align: center;
    font-size: 0.6em;
    color: var(--quaternary-color);
}


/* Responsive CSS */

.flexr {
    display: flex;
    flex-direction: row;
}

.flexc {
    display: flex;
    flex-direction: column;
}

/* Changes settings at 768px screen size to 1023px screen size*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Changes the background image of top box */
    #topbox {
        background: var(--quaternary-color) url(../images/bg-hero-desktop.svg) no-repeat top;
        background-size: 100% auto;
    }

    /* Changes the size of the logo box */
    #logobox {
        width: 16%;
    }

    /* Changes the base em of the try button */
    #trybutton {
        font-size: 18x;
    }

    /* Changes the orientation, width, padding, and text alignment of the box containing the info and mockup image at the top of the page */
    #topinfomockbox {
        flex-direction: row;
        width: 100%;
        padding: 1rem 0 1.5rem 0;
        text-align: left;
    }

    /* Changes the alignment of boxes, width, and padding in the top left box */
    #topleftbox {
        justify-content: flex-start;
        align-content: flex-start;
        width: 47%;
        padding: 2.5rem 2rem 2rem 2.5rem;
    }

    /* Changes the width and padding in the top left box */
    #toprightbox {
        width: 55%;
        padding: 0 0 0 0;
    }

    /* Changes the width of the mockups image */
    #mockups {
        width: 90%;
    }

    /* Changes the padding of the box containing the 3 cards */
    #cardbox {
        margin: 4.5rem 0;
    }

    /* Changes the orientation, aspect ratio, alignment, margin, padding, and text alignment */
    .card {
        flex-direction: row-reverse;
        justify-content: center;
        aspect-ratio: 2.8 / 1;
        margin: 0.75rem 0;
        text-align: left;
        padding: 0 1.5rem;
    }

    /* Changes the width of the image boxes in the card containers */
    .cardimgbox {
        width: 40%;
    }

    /* Changes the margin of the card images */
    .cardimg {
        margin-top: 0rem;
    }

    /* Changes the width of the card text */
    .cardtext {
        width: 41%;
    }

    /* Changes the order of the elements in card 2 */
    #card2 {
        flex-direction: row;
    }

    /* Changes position, width, and padding of the invitation box in the footer */
    #invitation {
        top: -5%;
        width: 55%;
        padding: 2rem 0 0.1rem 0;
    }

    /* Changes the width of the logo in the footer */
    #footerlogobox {
        width: 30%; 
    }
}


/* Changes settings at 1024px screen size */
@media only screen and (min-width: 1024px) {

    /* Changes the em base and background image*/
    html {
        font-size: 28px;
    }

    /* Changes the size of the font in p elements after an H1 heading */
    h1 + p {
        font-size: 0.65rem;
    }

    /* Changes the size of the font in p elements after an H2 heading */
    h2 + p {
        font-size: 0.6rem;
    }
    
    /* Changes the size of the font of an H1 heading */
    h3 {
    font-size: 1.1rem;
    }

    /* Changes the background image of top box */
    #topbox {
        background: var(--quaternary-color) url(../images/bg-hero-desktop.svg) no-repeat top;
        background-size: 100% auto;
    }

    /* Changes the padding in the box containing the the logo and button at the top */
    #logobuttonbox {
        padding: 1.5rem 0;
    }

    /* Changes the size of the logo box */
    #logobox {
        width: 16%;
    }

    /* Changes the base em of the try button */
    #trybutton {
        font-size: 26px;
    }

    /* Changes the orientation, width, padding, and text alignment of the box containing the info and mockup image at the top of the page */
    #topinfomockbox {
        flex-direction: row;
        width: 100%;
        padding: 1rem 0 1.5rem 0;
        text-align: left;
    }

    /* Changes the alignment of boxes, width, and padding in the top left box */
    #topleftbox {
        justify-content: flex-start;
        align-content: flex-start;
        width: 47%;
        padding: 2.5rem 2rem 2rem 2.5rem;
    }

    /* Changes the em base of the top start button */
    #startbtn1 {
        font-size: 20px;
    }

    /* Changes the width and padding in the top left box */
    #toprightbox {
        width: 55%;
        padding: 0 0 0 0;
    }

    /* Changes the width of the mockups image */
    #mockups {
        width: 90%;
    }

    /* Changes the width and padding of the box containing the 3 cards */
    #cardbox {
        width: 85%;
        margin: 4.5rem 0;
    }

    /* Changes the orientation, aspect ratio, alignment, margin, padding, and text alignment */
    .card {
        flex-direction: row-reverse;
        justify-content: center;
        aspect-ratio: 2.8 / 1;
        margin: 0.75rem 0;
        text-align: left;
        padding: 0 1.5rem;
    }

    /* Changes the width of the image boxes in the card containers */
    .cardimgbox {
        width: 40%;
    }

    /* Changes the margin of the card images */
    .cardimg {
        margin-top: 0rem;
    }

    /* Changes the width of the card text */
    .cardtext {
        width: 41%;
    }

    /* Changes the order of the elements in card 2 */
    #card2 {
        flex-direction: row;
    }

    /* Changes the padding and margin of the footer */
    #footer {
        margin-top: 10.5em;
        padding: 10em 4em 3em 6em;
    }

    /* Changes position, width, and padding of the invitation box in the footer */
    #invitation {
        top: -5%;
        width: 55%;
        padding: 2rem 0 0.1rem 0;
    }

    /* Changes the em base of the bottom start button */
    #startbtn2 {
        font-size: 30px;
    }

    /* Changes the width of the logo in the footer */
    #footerlogobox {
        width: 17%; 
    }

    /* Changes the orientation and alignment of footer elements */
    #footermain {
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
    }

    /* Changes the width of column 1 in the footer */
    #footerc1 {
        width: 40%;
    }

    /* Changes the size and padding of the font in column 1 */
    .c1p {
        font-size: 0.55rem;
        padding: 0 3.4rem 1.3rem 1rem;
    }

    /* Changes the width of column 2 in the footer */
    #footerc2 {
        width: 20%;
    }

    /* Changes the width of column 3 in the footer */
    #footerc3 {
        width: 20%;
    }

    /* Changes the width, padding, and alignment of column 4 in the footer */
    #footerc4 {
        justify-content: flex-end;
        align-content: flex-end;
        padding: 2em 0 0 0;
        width: 20%;
    }

    /* Changes the size and text alignment of the copyright text in the footer */
    #footercopyright {
        text-align: right;
        font-size: 0.6em;
    }
}