/* Imports Outfit font 300, 400, & 600 weight */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
  }

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
}

/* Effects all P elements */
p {
    font-weight: 300;
    font-size: 2.4vh;
    
}

/*  */
hr {
    color: hsl(215, 51%, 70%);
}

/* CLASS FORMATTING */
/* Place all class formatting here. */

/*  */
.up {
    padding-bottom: 2vh;
    vertical-align: top;
}

/*  */
.right {
    padding-left: 7vh;
}

/*  */
.left {
    padding-right: 8vh;
}

/*  */
.cyan {
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}

/* Code by FrontEndMentor.io */
/* Formats the footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
/* Code by FrontEndMentor.io */
/* Formats the links */
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ID FORMATTING */
/* Place all id formatting here. */

#vhbox {
    height: 100vh;
    padding-top: 8.5vh;

}
/* Formats the main container */
#bluebox {
    /* Sets aspect ratio of container */
    aspect-ratio: 1 / 1.64;
    background-color: hsl(216, 50%, 16%);
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 2vh;
    margin: auto;
    padding: 3.5vh 3.5vh 0vh 3.5vh;
    height: 82vh;
}

/*  */
#cubebox {
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
    aspect-ratio: 1 / 1;
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 1.5vh;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#view {
    visibility: hidden;
    width: 100%;
    padding: 20vh;
    background-color: hsl(178, 100%, 50%);
    opacity: 0.5;
}


/* Formats the text box below the picture */
#textbox {
    max-width: 100%;
    margin: auto auto 0 auto;
}

#eth {
    width: 1.7vh;
    height: 2.6vh;  
}

#clock {
    width: 2.5vh;
    height: 2.5vh;
}

#creator {
    color: hsl(0, 0%, 100%);
}

#name {
    margin-top: 3vh;
    font-weight: 600;
    font-size: 3.3vh;
    color: hsl(0, 0%, 100%);
}

#avatar {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-right: 2vh;
}

/* Adjusts view at different screen sizes */
/* Starts with H1 at 0.8ems and p at 0.5 and invisible */
/* At 350px, p becomes visible */
/*@media only screen and (min-height: 350px) { 
    p {
        visibility: visible;
    }
}*/

/* At 450px, the text elements grow slightly */
/*@media only screen and (min-height: 450px) { 
    h1 {
        font-size: 1em;
    }
    p {
        font-size: 0.6em;
    }
}*/

/* At 600px, the text elements grow slightly */
/*@media only screen and (min-height: 600px) { 
    h1 {
        font-size: 1.3em;
    }
    p {
        font-size: 1em;
    }
}*/

/* At 800px, the text elements grow slightly */
/*@media only screen and (min-height: 800px) { 
    h1 {
        font-size: 1.9em;
    }
    p {
        font-size: 1.3em;
    }
}*/