/* Imports Outfit font 300, 400, & 600 weight */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
  }

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    
}

/* Effects all P elements */
p {
    font-weight: 300;
    font-size: 2.4vh;
    
}

/* Makes hr opaque and light blue  */
hr {
    color: hsl(215, 51%, 70%);
    opacity: 0.2;
}

/* CLASS FORMATTING */
/* Place all class formatting here. */

/* Raises text */
.up {
    padding-bottom: 2vh;
    vertical-align: top;
}

/* Aligns text right */
.right {
    padding-left: 7vh;
}

/* Aligns text left */
.left {
    padding-right: 8vh;
}

/* Makes text cyan */
.cyan {
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}

/* Code by FrontEndMentor.io */
/* Formats the footer */
.attribution { 
    color: hsl(215, 51%, 70%);
    font-size: 11px; 
    text-align: center; 
}
    
/* Code by FrontEndMentor.io */
/* Formats the footer links */
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation the size of the view height */
#vhbox {
    height: 100vh;
    padding-top: 8.5vh;

}
/* Formats the main container */
#bluebox {
    /* Sets aspect ratio of container */
    aspect-ratio: 1 / 1.64;
    background-color: hsl(216, 50%, 16%);
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 2vh;
    margin: auto;
    padding: 3.5vh 3.5vh 0vh 3.5vh;
    height: 82vh;
}

/* Formats the eye icon */
#view {
    color: hsl(0, 0%, 100%) !important;
    visibility: hidden;
    z-index: 5;
    min-width: 7vh;
    padding: 19vh;
}

/* Formats the box with the cub in it */
#cubebox {
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
    aspect-ratio: 1 / 1;
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 1.5vh;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Makes the framework for the color change */
#cubebox:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    transition: background .3s linear;
}

/* Makes the color change */
#cubebox:hover:before {
    background: hsla(178, 100%, 50%, 0.5);
    transition: background .3s linear;
    z-index: 1;
}

/* Makes the eye become visible */
#cubebox:hover > #view {
    visibility: visible;
}




/* Formats the text box below the picture */
#textbox {
    color: hsl(215, 51%, 70%);
    max-width: 100%;
    margin: auto auto 0 auto;
}

/* Formats the ETH symbol */
#eth {
    width: 1.7vh;
    height: 2.6vh;  
}

/* Formats the clock symbol */
#clock {
    width: 2.5vh;
    height: 2.5vh;
}

/* Formats the creator's name */
#creator {
    color: hsl(0, 0%, 100%);
}

/* Turns the creator name cyan when hovered over */
#creator:hover {
    color: hsl(178, 100%, 50%);
}


/* Formats the name of the object */
#name {
    margin-top: 3vh;
    font-weight: 600;
    font-size: 3.3vh;
    color: hsl(0, 0%, 100%);
}
/* Turns the name cyan when hovered over */
#name:hover {
    color: hsl(178, 100%, 50%);
}

/* Formats the avatar picture */
#avatar {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-right: 2vh;
}



#creator:hover {
    color: hsl(178, 100%, 50%);
}