/*This is the universal CSS for the whole website*/
/*Anything changed below effects all pages.
/*Any other changes should be made through ID or CLASS on individual CSS*/

/* Imports Spartan font 400, 500, and 700 weight */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
}
  
  
/* ELEMENT FORMATTING */
/* Place all element formating here. */
  
/* Effects all elements */
html {
    background-color: white;
    font-family: 'Spartan', sans-serif;
    color: black;
    font-size: 15px;
}

/* CLASS FORMATTING */
/* Place all class formatting here. */




/* ID FORMATTING */
/* Place all id formatting here. */






/* Code by FrontEndMentor.io */
/* Formats the footer */
#attribution { 
    color: hsl(215, 51%, 70%);
    font-size: 1rem; 
    text-align: center; 
}
    
/* Code by FrontEndMentor.io */
/* Formats the footer links */
#attribution a { 
    color: hsl(228, 45%, 44%); 
    
}

/* Responsive CSS */

/* Allows elements to be stacked in rows without filling all 12 columns */
.row::after,.row::before {
    content: "";
    clear: both;
    display: table;
}
  

/* Formats columns */
[class*="col-"] {
    float: left;
    /* Makes the page load on Mobile devices faster */
    width: 100%;
}

/* Adjusts to a 12 column view at 768px screen size */
@media only screen and (min-width: 768px) {  
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}