/* Imports Barlow Semi Condensed font 500 and 600 weight */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* Sets universal CSS variables */
:root {
    --primary-color: hsl(219, 29%, 14%);
    --secondary-color: hsl(263, 55%, 52%);
    --tertiary-color: hsl(217, 19%, 35%);
    --very-light-color: hsl(210, 46%, 95%);
    --grey-color: hsl(0, 0%, 81%);
    --white: hsl(0, 0%, 100%);

}

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    background-color: var(--very-light-color);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

/* CLASS FORMATTING */
/* Place all class formatting here. */

.card {
    border-radius: 10px;
    padding: 8%;
}

.inside {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

.avatarbox {
    width: 11%;
}

.avatar {
    border-radius: 50%;
    width: 100%;
}

.namebox {
    display: flex;
    flex-direction: column;
    padding-left: 4%;

}
.name {
    font-size: 100%;
    font-weight: 600;
    padding-bottom: 1%;
}

.grad {
    font-size: 1.1rem;
    opacity: 0.5;
}

.heading {
font-size: 1.9rem;
line-height: 1.3;
font-weight: 500;
padding: 0 16% 5% 0;
}

.para {
    opacity: 0.75;
    font-size: 1.3rem;
    line-height: 1.4;
    padding-right: 14%;
    letter-spacing: 1.3;
}

/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation for all other boxes */
#showbox {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

/* Formats the main container */
#bigbox {    
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:    'card1' 'card2' 'card3' 'card4' 'card5';
    gap: 3%;
    width: 90%;
    margin: 20%;
}

#card1 {
    grid-area: card1;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--very-light-color);
}

#quotationbox {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 2rem;

}

#quotation {

}

#first1 {

}

#avatarbox1 {

}

#avatar1 {
    border-width: 1%;
    border-style: solid;
    border-color:  hsl(278, 40%, 65%);
}

#namebox1 {

}

#name1 {

}

#grad1 {

}

#second1 {
    z-index: 1;
}

#third1 {

}

#card2 {
    grid-area: card2;
    background-color: var(--tertiary-color);
    color: var(--white);
}

#first2 {

}

#avatarbox2 {

}

#avatar2 {

}

#namebox2 {

}

#name2 {

}

#grad2 {

}

#second2 {

}

#third2 {

}

#card3 {
    grid-area: card3;
    background-color: var(--white);
    color: var(--primary-color);
}

#first3 {

}

#avatarbox3 {

}

#avatar3 {

}

#namebox3 {

}

#name3 {

}

#grad3 {

}

#second3 {

}

#third3 {

}

#card4 {
    grid-area: card4;
    background-color: var(--primary-color);
    color: var(--white);
}

#first4 {

}

#avatarbox4 {

}

#avatar4 {
    border-width: 1%;
    border-style: solid;
    border-color: var(--secondary-color);
}

#namebox4 {

}

#name4 {

}

#grad4 {

}

#second4 {

}

#third4 {

}

#card5 {
    grid-area: card5;
    background-color: var(--white);
    color: var(--primary-color);
}

#first5 {

}

#avatarbox5 {

}

#avatar5 {

}

#namebox5 {

}

#name5 {

}

#grad5 {

}

#second5 {

}

#third5 {

}

/* Responsive CSS */

/* Allows elements to be stacked in rows without filling all 12 columns */
.row::after,.row::before {
    content: "";
    clear: both;
    display: table;
}

.flexr {
display: flex;
flex-direction: row;
}

.flexc {
    display: flex;
    flex-direction: column;
    }

/* Changes settings at 768px screen size */
@media only screen and (min-width: 768px) {

    /* Changes the em base and background image*/
    html {
        /* font-size: 13px; */
    }

    /* Changes the foundation to the size of the view height */
    #showbox {
        height: 100vh;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }

    /* Changes the  of the main container */
    #bigbox {  
        grid-template-rows: 2(1fr);
        grid-template-columns: 4(1fr);
        grid-template-areas:    'card1 card1 card2 card5'
                                'card3 card4 card4 card5';
        gap: 3%;
        width: 80%;
        height: 80%;
    }


}



