/* Imports Raleway font 400 & 700 weight */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Imports Open Sans font 400 weight */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Sets universal CSS variables */
:root {
    --primary-color: hsl(243, 87%, 12%);
    --secondary-color: hsl(238, 22%, 44%);
    --tertiary-color: hsl(224, 93%, 58%);
    --quaternary-color: hsl(170, 45%, 43%);
    --quinary-color: hsl(240, 75%, 98%); 
    --quinary-color-o: hsla(240, 75%, 98%, 0.8);
    --senary-color: hsl(0, 0%, 75%);
    --septenary-color: hsl(224, 86%, 67%);
    --white: hsl(0, 0%, 100%);
    --header-font: 'Raleway', sans-serif;
}

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

/* Formats the body */
body {
    position: relative;
}

/* Formats all H1 elements */
h1 {
    font-family: var(--header-font);
    font-size: 1.75rem;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 1.3;
}

/* Formats P elements after all H1 elements */
h1 + p {
    font-size: 0.9rem;
    color: var(--primary-color);
    padding: 1rem;
}

/* Formats all H2 elements */
h2 {
    font-family: var(--header-font);
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

/* Formats all H3 elements */
h3 {
    font-family: var(--header-font);
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
}

/* Formats P elements after all H2 elements */
h3 + p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/* Formats all P elements */
p {
    line-height: 1.6;
}

/* Formats all links */
a {
    text-decoration: none;
    font-family: var(--header-font);
}

/* Formats all icons */
i {
    color: var(--quinary-color);
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* Formats all images */
img {

}

/* Formats all unordered lists */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Formats all linst items */
li {
    
}


/* TYPE FORMATTING */
/* Place all type formatting here. */

/* Formats all inputs with type email */
input[type=email] {
    width: 100%;
    padding: 0.8rem;
    color: var(--quinary-color);
    margin: 1rem;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
}

/* Formats placeholder text in all inputs with type email */
input[type=email]::placeholder {
    color: var(--senary-color);
    opacity: 0.5; 
}
 
/* Formats all inputs with type submit */
input[type=submit] {
    width: 100%;
    padding: 0.8rem;
    border-radius: 3px;
    background-color: var(--tertiary-color);
    border: 1px none;
    color: var(--quinary-color);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/* Formats hover state of all inputs with type submit */
input[type=submit]:hover {
    background-color: var(--septenary-color);
}


/* CLASS FORMATTING */
/* Place all class formatting here. */

/* Formats nav list items */
.navli {
    font-size: 0.8rem;
}

/* Formats nav links */
.navlinks {
    font-family: var(--header-font);
    color: var(--primary-color);
    font-weight: 600;
}

/* Formats box2 para text */
.box2p {
    font-size: 0.95rem;
    color: var(--secondary-color);
    padding: 0.5rem 0;
}

/* Formats footer column 1 rows */
.c1r {
    align-content: flex-start;
    justify-content: flex-start;
    color: var(--quinary-color);
}

/* Formats the footer column 1 icon boxes */
.c1iconbox {
    height: 0.9rem;
    padding: 0.2rem;
}

/* Formats the footer column 1 icons */
.c1icon {
    
}

/* Formats the footer column 1 para text */
.c1p {
    font-size: 1rem;
    padding: 0 1rem 1.3rem 1rem;
}

/* Formats the footer column 2/3 text links */
.footertextlink {
    color: var(--quinary-color);
    font-size: 1rem;
    padding: 0.6rem 0.6rem;
}

/* Formats hover state of text link in footer */
.footertextlink:hover {
    color: var(--septenary-color);
}

/* Formats the footer column 4 icon boxes */
.icon {
    position: relative;
    height: 1.75rem;
    width: 1.75rem;
    border: 1px solid var(--quinary-color);
    border-radius: 50%;
    margin: 0.4rem;
}

/* Formats icons in bottom right box */
.icon > a > i {
    color: var(--quinary-color);
}

/* Formats hover state of icon borders in footer */
.icon:hover {
    border: 1px solid var(--septenary-color);
}

/* Formats hover state of icons in footer */
.icon:hover > a > i {
    color: var(--septenary-color);
}

/* Formats the footer column 1 icon links */
.iconlink {
    
}


/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation for all other boxes */
#showbox {
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Formats the main container */
#bigbox {    
    position: relative;
}

/* Formats the insulation box inside the main container */
#inside {
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Formats box holding logo and nav bar */
#logonavbox {
    width: 100%;
    padding: 1.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}

/* Formats the box holding the top logo */
#logotopbox {
    width: 25%;
}

/* Formats the top logo */
#logotop {
    width: 100%;
}

/* Formats the nav bar */
#navbar {
    width: 50%;
}

/* Formats the nav bar unordered list */
#navbarlist {
    justify-content: space-between;
}

/* Formats features list item */
#featuresli {

}

/* Formats features link */
#features {

}

/* Formats team list item */
#teamli {

}

/* Formats team link */
#team {

}

/* Formats signin list item */
#signinli {

}

/* Formats the top box */
#topbox {
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* Formats the main area inside the top box */
#topmain {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

/* Formats the top left box */
#topleftbox {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

/* Formats the top left heading */
#toplefth1 {

}

/* Formats the top left para text */
#topleftp {

}

/* Formats the box holding the top form */
#emailbtnbox {
    
}

/* Formats the top form */
#formtop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Formats the email input in the top form */
#emailinputtop {
    
}

/* Formats the email submit button in the top form */
#emailsubmittop {

}

/* Formats the top right box */
#toprightbox {
    justify-content: center;
    align-items: center;
}

/* Formats the filing illustration */
#filing {
    width: 90%;
}
/* Formats top second box */
#topcurve {
    background: url(../images/bg-curve-mobile.svg) no-repeat bottom; 
    background-size: 100% auto;
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
}

/* Formats the second box */
#secondbox {
    background-color: var(--quinary-color-o);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem 4rem 1.5rem;
}

/* Formats the left second box */
#leftsecondbox {
    padding: 6rem 0 0 0;
    justify-content: center;
    align-items: center;
}

/* Formats the second box heading */
#box2h2 {

}

/* Formats the first para text in the second box */
#box2p1 {

}

/* Formats the second para text in the second box */
#box2p2 {

}

/* Formats the See How link */
#seelink {
    justify-content: center;
    align-items: center;
    font-family: var(--header-font);
    color: var(--quaternary-color);
    width: 100%;
    margin: 1rem;
}

/* Formats the box containing the See How text and arrow */
#seearrowbox {
    width: 42%;
    justify-content: space-between;
    align-content: flex-end;
    border-bottom: 0.13rem solid var(--quaternary-color);
}

/* Formats the See How text */
#seetext {
    font-size: 0.8rem;
}

/* Formats the See How arrow */
#arrow {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0;
}

/* Formats the testimonial card */
#card {
    margin: 2rem 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(73, 66, 92, 0.2), 0 6px 20px 0 rgba(73, 66, 92, 0.19);
    padding: 1rem 1.6rem;
}

/* Formats the box holding the quotes image */
#quotesbox {

}

/* Formats the quotes image */
#quotes {
    
}

/* Formats the card para text */
#cardp {
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0.5rem 0;
}

/* Formats the box holding the avatar picture, name, and title */
#avatarnamebox {
    justify-content: flex-start;
    align-items: center;
}

/* Formats the box holding the avatar picture */
#avatarbox {
    height: 1.8rem;
    width: 1.8rem;

}

/* Formats the avatar picture */
#avatar {
    width: 100%;
    border-radius: 50%;
}

/* Formats the box holding the name and title */
#nametitlebox {
    justify-content: center;
    align-content: flex-start;
    padding: 0.5rem;
}

/* Formats the name in the card */
#name {
    font-weight: 700;
    font-family: var(--header-font);
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
}

/* Formats the title in the card */
#title {
    font-family: var(--header-font);
    font-size: 0.5rem;
    font-weight: 400;
}

/* Formts the right second box */
#rightsecondbox {
    justify-content: center;
    align-items: center;
}

/* Formats the talking illustration */
#talking {
    width: 100%;
}

/* Formats the third box */
#thirdbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 3.2rem 4.5rem 3.2rem;
    background-color: var(--secondary-color);
    color: var(--quinary-color);
}

/* Formats the left third box */
#leftthirdbox {
    
}

/* Formats the heading in the third box */
#box3h3 {

}

/* Formats the para text in the third box */
#box3p {

}

/* Formats the right third box */


/* Formats the bottom form */
#formbottom {
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Formats the bottom email input */
#emailinputbottom {
    padding: 0.6rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

/* Formats the bottom email submit button */
#emailsubmitbottom {
    font-size: 0.65rem;
    padding: 0.7rem;
}

/* Formats footer */
#footer {
    position: relative;
    background-color: var(--primary-color);
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 2rem 2rem 2rem;
}

/* Formats box holding bottom logo */
#logobottombox {
    width: 57%;
}

/* Formats bottom logo */
#logobottom {
    width: 100%;
}

/* Formats the main footer box */
#footermain {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 1rem 0;
    position: relative;
    width: 100%;
}

/* Formats footer column 1 */
#footerc1 {
    justify-content: center;
    align-items: flex-start;
}

/* Formats footer column 1 row 1 */
#footerc1r1 {

}

/* Formats the box holding the phone icon */
#c1r1phone {

}

/* Formats the phone icon */
#phonei {
    width: 100%;
}

/* Formats the phone info */
#phonep {

}

/* Formats footer column 1 row 2 */
#footerc1r2 {

}

/* Formats the box holding the email icon */
#c1r2email {

}

/* Formats the email icon */
#emaili {
    width: 100%;
}

/* Formats the email info */
#emailp {

}

/* Formats footer column 2 */
#footerc2 {
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0;
}

/* Formats the about us text link */
#about {

}

/* Formats the job text link */
#jobs {

}

/* Formats the text link */
#press {

}

/* Formats the text link */
#blog {

}

/* Formats footer column 3 */
#footerc3 {
    justify-content: center;
    align-items: flex-start;
}

/* Formats the contact text link */
#contact {

}

/* Formats the terms text link */
#terms {

}

/* Formats the privacy text link */
#privacy {

}

/* Formats footer column 4 */
#footerc4 {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
}

/* Formats icon box 1 */
#iconbox1 {
   
}

/* Formats facebook link */
#facebooklnk {
    
}

/* Formats icon box 2 */
#iconbox2 {

}

/* Formats twitter link */
#twitterlnk {

}

/* Formats icon box 3 */
#iconbox3 {

}

/* Formats instagram link */
#instagramlnk {

}


/* Responsive CSS */

/* Allows elements to be stacked in rows without filling all 12 columns */
.row::after,.row::before {
    content: "";
    clear: both;
    display: table;
}

/* Makes any element a flex row */
.flexr {
    display: flex;
    flex-direction: row;
}

/* Makes any element a flex column */
.flexc {
    display: flex;
    flex-direction: column;
}

/* Changes settings at 768px screen size to 1023px screen size*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Changes the em base and background image*/
    html {
        font-size: 15px;
    }

    /* Changes the size of font on all H1 elements */
    h1 {
        font-size: 2rem;
    }

    /* Changes the padding of all p elements directly after an H1 element */
    h1 + p {
        padding: 0.7rem 0;
    }

    /* Changes the size and alignment of all H2 elements */
    h2 {
        font-size: 2.1rem;
        text-align: left;
    }

    /* Changes the size of font on all H3 elements */
    h3 {
        font-size: 1.5rem;
    }

    /* Changes the line height of allP elements */
    p {
        line-height: 1.3;
    }

    /* Changes the width, padding, and margin for all input elements with the type of email */
    input[type=email] {
        width: 70%;
        padding: 0.7rem;
        margin: 0 0.6rem 0 0;
    }

    /* Changes the width, padding, size, and letter spacing for all input elements with the type of submit */
    input[type=submit] {
        width: 30%;
        padding: 0.8rem;
        font-size: 0.7rem;
        letter-spacing: 0.05rem;
    }

    /* Changes the size and width of the para text in the second box */
    .box2p {
        font-size: 0.85rem;
        width: 80%;
    }

    /* Changes the size of the info text in the first column in the footer  */
    .c1p {
        font-size: 0.85rem;
    }

    /* Changes the size of the text in columns 2/3 of the footer */
    .footertextlink {
        font-size: 0.85rem;
    }

    /* Changes the padding and alignment of the logo nav box at the top of the page */
    #logonavbox {
        padding: 3rem 2.5rem 0 2.5rem;
        align-items: flex-start;
    }

    /* Changes the width of the box containing the logo at the top of the page */
    #logotopbox {
        width: 13%;
    }

    /* Changes the width of the box containing the nav links at the top of the page */
    #navbar {
        width: 25%;
    }

    /* Changes the alignment of the li in the nav bar at the top of the page */
    #navbarlist {
        justify-content: space-around;
    }

    /* Changes alignment and padding of the top box */
    #topbox {
        justify-content: center;
        align-items: center;
        padding: 3rem 1.5rem 1.5rem 1.5rem;
    }

    /* Changes the orientation and width of the main content in the top box */
    #topmain {
        flex-direction: row;
        width: 95%;
    }

    /* Changes the text alignment. padding, and width of the top left box */
    #topleftbox {
        text-align: left;
        padding: 0 0;
        width: 55%;
    }

    /* Changes the orientation, alignment, and padding of the email form in the top box */
    #formtop {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0.5rem;
    }

    /* Changes the alignment and width of the top right box */
    #toprightbox {
        width: 45%;
        justify-content: right;
        align-items: right;
    }

    /* Changes the width of the filing illustration */
    #filing {
        width: 100%;
    }

    /* Changes the background, height, and margin of the box above the second box */
    #topcurve {
        background: url(../images/bg-curve-desktop.svg) no-repeat bottom; 
        background-size: 100% auto;
        height: 6rem;
        margin-top: 7rem;
    }

    /* Changes the orientation, alignment, and width of the second box */
    #secondbox {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }
    
    /* Changes the padding, alignment, and width of the left second box */
    #leftsecondbox {
        padding: 0 0 0 0;
        align-items: flex-start;
        width: 60%;
    }

    /* Changes the alignment, width, and margin of the See How link */
    #seelink {
        align-items: flex-start;
        width: 100%;
        margin: 1rem 0;
    }

    /* Changes the width of the box containing the See How text and arrow image */
    #seearrowbox {
        width: 40%;
    }

    /* Changes the size of the text on the See How link */
    #seetext {
        font-size: 0.9rem;
    }

    /* Changes the margin and width of the testimonial card */
    #card {
        margin: 1rem 0 1rem 0;
        width: 60%;
    }

    /* Changes the width of the box holding the quotes image */
    #quotesbox {
        width: 5.5%;
    }

    /* Changes the width of the quotes image */
    #quotes {
        width: 100%;
    }

    /* Changes the width of the right second box */
    #rightsecondbox {
        width: 40%;
    }

    /* Changes the width of the talking illustration */
    #talking {
        width: 85%;
    }

    /* Changes the orientation, alignment, text alignment, and padding of the third box */
    #thirdbox {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding: 6rem 3.2rem 4rem 3.2rem;
    }

    /* Changes the width of the left third box */
    #leftthirdbox {
        width: 45%;
    }

    /* Changes the width of the right third box */
    #rightthirdbox {
        width: 45%;
    }

    /* Changes the alignment of the bottom email form */
    #formbottom {
        justify-content: flex-end;
        align-items: flex-start;
    }

    /* Changes the width, padding, and margin of the bottom email input */
    #emailinputbottom {
        width: 100%;
        padding: 0.8rem;
        margin: 0 0 0.5rem 0;
    }

    /* Changes the width, text size, and padding of the bottom submit button */
    #emailsubmitbottom {
        width: 50%;
        font-size: 0.65rem;
        padding: 0.8rem;
    }

    /* Changes the padding of the footer */
    #footer {
        padding: 5rem 2rem 2rem 2rem;
    }

    /* Changes the width of the bottom logo box */
    #logobottombox {
        width: 13%;
    }

    /* Changes the orientation, alignment, and padding of the main container in the footer */
    #footermain {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem 0 1rem 0;
    }

    /* Changes the alignment and width of column 1 of the footer */
    #footerc1 {
        width: 33%;
        justify-content: flex-start;
    }

    /* Changes the padding, alignment, and width of column 2 of the footer */
    #footerc2 {
        width: 20%;
        justify-content: flex-start;
        padding: 0 0;
    }

    /* Changes the alignment and width of column 3 of the footer */
    #footerc3 {
        width: 20%;
        justify-content: flex-start;
    }

    /* Changes the padding, alignment, and width of column 4 of the footer */
    #footerc4 {
        width: 27%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 0 0;
    }
}


/* Changes settings at 1024px screen size */
@media only screen and (min-width: 1024px) {

    /* Changes the em base */
    html {
        font-size: 19px;
    }

    /* Changes the size of font on all H1 elements */
    h1 {
        font-size: 2rem;
    }

    /* Changes the padding of all p elements directly after an H1 element */
    h1 + p {
        padding: 0.7rem 0;
    }

    /* Changes the size and alignment of all H2 elements */
    h2 {
        font-size: 2.1rem;
        text-align: left;
    }

    /* Changes the size of font on all H3 elements */
    h3 {
        font-size: 1.5rem;
    }

    /* Changes the line height of allP elements */
    p {
        line-height: 1.3;
    }

    /* Changes the width, padding, and margin for all input elements with the type of email */
    input[type=email] {
        width: 60%;
        padding: 0.7rem;
        margin: 0 0.6rem 0 0;
    }

    /* Changes the width, padding, size, and letter spacing for all input elements with the type of submit */
    input[type=submit] {
        width: 30%;
        padding: 0.75rem;
        font-size: 0.7rem;
        letter-spacing: 0.05rem;
    }

    /* Changes the size and width of the para text in the second box */
    .box2p {
        font-size: 0.85rem;
        width: 80%;
    }

    /* Changes the size of the info text in the first column in the footer  */
    .c1p {
        font-size: 0.85rem;
    }

    /* Changes the size of the text in columns 2/3 of the footer */
    .footertextlink {
        font-size: 0.85rem;
    }

    /* Changes the padding and alignment of the logo nav box at the top of the page */
    #logonavbox {
        padding: 3rem 2.5rem 0 2.5rem;
        align-items: flex-start;
    }

    /* Changes the width of the box containing the logo at the top of the page */
    #logotopbox {
        width: 13%;
    }

    /* Changes the width of the box containing the nav links at the top of the page */
    #navbar {
        width: 25%;
    }

    /* Changes the alignment of the li in the nav bar at the top of the page */
    #navbarlist {
        justify-content: space-around;
    }

    /* Changes alignment and padding of the top box */
    #topbox {
        justify-content: center;
        align-items: center;
        padding: 3rem 1.5rem 1.5rem 1.5rem;
    }

    /* Changes the orientation and width of the main content in the top box */
    #topmain {
        flex-direction: row;
        width: 95%;
    }

    /* Changes the text alignment. padding, and width of the top left box */
    #topleftbox {
        text-align: left;
        padding: 0 0;
        width: 45%;
    }

    /* Changes the orientation, alignment, and padding of the email form in the top box */
    #formtop {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 0.5rem;
    }

    /* Changes the alignment and width of the top right box */
    #toprightbox {
        width: 50%;
        justify-content: right;
        align-items: right;
    }

    /* Changes the width of the filing illustration */
    #filing {
        width: 100%;
    }

    /* Changes the background, height, and margin of the box above the second box */
    #topcurve {
        background: url(../images/bg-curve-desktop.svg) no-repeat bottom; 
        background-size: 100% auto;
        height: 6rem;
        margin-top: 7rem;
    }

    /* Changes the orientation, alignment, and width of the second box */
    #secondbox {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }
    
    /* Changes the padding, alignment, and width of the left second box */
    #leftsecondbox {
        padding: 0 0 0 0;
        align-items: flex-start;
        width: 50%;
    }

    /* Changes the alignment and margin of the See How link */
    #seelink {
        align-items: flex-start;
        margin: 1rem 0;
    }

    /* Changes the width of the box containing the See How text and arrow image */
    #seearrowbox {
        width: 40%;
    }

    /* Changes the size of the text on the See How link */
    #seetext {
        font-size: 0.9rem;
    }

    /* Changes the margin and width of the testimonial card */
    #card {
        margin: 1rem 0 1rem 0;
        width: 60%;
    }

    /* Changes the width of the box holding the quotes image */
    #quotesbox {
        width: 5.5%;
    }

    /* Changes the width of the quotes image */
    #quotes {
        width: 100%;
    }

    /* Changes the width of the right second box */
    #rightsecondbox {
        width: 50%;
    }

    /* Changes the width of the talking illustration */
    #talking {
        width: 85%;
    }

    /* Changes the orientation, alignment, text alignment, and padding of the third box */
    #thirdbox {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding: 6rem 3.2rem 4rem 3.2rem;
    }

    /* Changes the width of the left third box */
    #leftthirdbox {
        width: 40%;
    }

    /* Changes the width of the right third box */
    #rightthirdbox {
        width: 40%;
    }

    /* Changes the alignment of the bottom email form */
    #formbottom {
        justify-content: flex-end;
        align-items: flex-start;
    }

    /* Changes the width, padding, and margin of the bottom email input */
    #emailinputbottom {
        width: 100%;
        padding: 0.8rem;
        margin: 0 0 0.5rem 0;
    }

    /* Changes the width and padding of the bottom submit button */
    #emailsubmitbottom {
        width: 50%;
        padding: 0.8rem;
    }

    /* Changes the padding of the footer */
    #footer {
        padding: 5rem 2rem 2rem 2rem;
    }

    /* Changes the width of the bottom logo box */
    #logobottombox {
        width: 13%;
    }

    /* Changes the orientation, alignment, and padding of the main container in the footer */
    #footermain {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem 0 1rem 0;
    }

    /* Changes the alignment and width of column 1 of the footer */
    #footerc1 {
        width: 33%;
        justify-content: flex-start;
    }

    /* Changes the padding, alignment, and width of column 2 of the footer */
    #footerc2 {
        width: 20%;
        justify-content: flex-start;
        padding: 0 0;
    }

    /* Changes the alignment and width of column 3 of the footer */
    #footerc3 {
        width: 20%;
        justify-content: flex-start;
    }

    /* Changes the padding, alignment, and width of column 4 of the footer */
    #footerc4 {
        width: 27%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 0 0;
    }
}
