/* Imports Outfit font 400 & 700 weight */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
  }

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

/* Effects all H1 elements */
h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 1vh 1vh 0vh 1vh;
    font-size: 3.5vh;
}

/* Effects all P elements */
p {
    color: hsl(220, 15%, 55%);
    padding: 0.5vh 2vh 1vh 2vh;
    font-weight: 400;
    font-size: 2.4vh;
}

/* CLASS FORMATTING */
/* Place all class formatting here. */



/* ID FORMATTING */
/* Place all id formatting here. */

/* Formats a 100vh box for structure */
#vhbox {
    height: 100vh;
    padding-top: 14vh;

}
/* Formats the main container */
#whitebox {
    /* Sets aspect ratio of container */
    aspect-ratio: 1 / 1.6;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 3vh;
    margin: auto;
    padding: 2.1vh;
    height: 75vh;
}

/* Formats the OR code  */
#qrcode {
    border: 1px solid white;
    border-radius: 2vh;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* Formats the text boxt below the picture */
#textbox {
    text-align: center;
    max-width: 100%;
    margin: auto;
}

/* Code by FrontEndMentor.io */
/* Formats the footer */
#attribution { 
    font-size: 1.3vh; 
    text-align: center; 
}
    
/* Code by FrontEndMentor.io */
/* Formats the footer links */
#attribution a { 
    color: hsl(228, 45%, 44%); 
}