/* Imports Poppins font 400 and 600 weight */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Imports Open Sans font 400 weight */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Imports Social Media Font */
@font-face {
    font-family: 'Socialico-Regular';
    src: url('../fonts/Socialico-Regular.eot');
    src: url('../fonts/Socialico-Regular.otf') format('embedded-opentype'),
    url('../fonts/Socialico-Regular.woff2') format('woff2'),
    url('../fonts/Socialico-Regular.woff') format('woff'),
    url('../fonts/Socialico-Regular.ttf') format('truetype');
    }

/* Sets universal CSS variables */
:root {
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    background-image: url(../images/bg-mobile.svg) ;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 15px;
    
}

/* Formats icons */
i {
    color: white;
    font-size: 1.25em;
    margin: 0.5em;
}

/* CLASS FORMATTING */
/* Place all class formatting here. */

/* Formats icon borders in bottom right box */
.icon {
    height: 2.5em;
    width: 2.5em;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0.5em;
}

/* Formats hover state of icon borders in bottom right box */
.icon:hover {
    border: 1px solid var(--secondary-color);
}

/* Formats hover state of icons in bottom right box */
.icon:hover > a > i {
    color: var(--secondary-color);
}

/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation for all other boxes */
#showbox {
    padding: 0;
}

/* Formats the main container */
#bigbox {    
    display: flex;
    flex-direction: column; 
    width: 80%;
    margin: auto;
}

/* Formats the top box */
#topbox {
    padding: 3em 0 5em 0;
}

/* Formats logo image */
#logo {
    height: 2.8em;
}

/* Formats the whole bottom box */
#bottombox {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Formats box around mockups image */
#mockupsbox {
    width: 100%;
    padding-bottom: 5.5em;
}

/* Formats mockups image */
#mockups {
    width: 100%;
}

/* Formats the right box at the bottom */
#rightbox {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Formats the first line of text in the right box */
#rfirst {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0.7em;
    font-size: 2.1em;
    font-weight: 600;
}

/* Formats the second group of text in the right box */
#rsecond {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.42em;
    font-weight: 400;
    padding-bottom: 1.3em;
}

/* Formats the register button in the right box */
#register {
    font-family: 'Poppins', sans-serif;
    padding: 1em 7em;
    margin: 0 auto 5em auto;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Formats the link for the register button */
#register a {
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-color);
}

/* Formats the hover state for the register button */
#register:hover {
    background-color: var(--secondary-color);
}

/* Formats the hover state for the link in the register button */
#register:hover > a {
    color: white;
}

/* Formats icon box at bottom of right box */
#iconbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 4em 1em 0 0;
}

/* Code by FrontEndMentor.io */
/* Formats the footer */
#attribution { 
    color: rgb(70, 68, 68);
    font-size: 1em; 
    text-align: center; 
}
    
/* Code by FrontEndMentor.io */
/* Formats the footer links */
#attribution a { 
    color: hsl(228, 45%, 44%);   
}

/* Responsive CSS */

/* Allows elements to be stacked in rows without filling all 12 columns */
.row::after,.row::before {
    content: "";
    clear: both;
    display: table;
}

/* Changes settings at 768px screen size */
@media only screen and (min-width: 768px) {

    /* Changes the em base and background image*/
    html {
        background-image: url(../images/bg-desktop.svg) ;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 19px;
    }

    /* Changes the foundation to the size of the view height */
    #showbox {
        height: 100vh;
    }

    /* Changes the margin, width, height, and padding of the main container */
    #bigbox {  
        width: 92%;  
        height: 90%;
        padding-top: 3em;
        margin: auto;
    }

    /* Changes padding around the text */
    #topbox {
        padding: 0 0 4em 0;
    }

    /* Changes the orientation of the bottom box to row */
    #bottombox {
        flex-direction: row;
    }

    /* Changes the size and padding of the bottom left box containing the mockups image */
    #mockupbox {
        width: 40vw;
        padding-bottom: 0;
    }

    /* Changes the width of the mockups image */
    #mockups {
        width: 90%;
    }

    /* Changes the padding and width of the bottom right box */
    #rightbox {
        width: 60vw;
        padding-top: 2.5em;
    }
    
    /* Changes the text alignment and padding of the first line of the text in the bottom right box */
    #rfirst {
        text-align: left;
        padding-bottom: 0.5em;
    }
    
    /* Changes the font size and text alignment of the second line of text in the bottom right box */
    #rsecond {
        text-align: left;
        font-size: .955em;
    }
    
    /* Changes the padding, margin, and text alignment of the register button */
    #register {
        text-align: left;
        padding: .7em 3.5em;
        margin: 0 auto 5em 0;
    }

    /* Changes the size of the link font in the register button */
    #register a {
        font-size: 0.95em;
    }

    /* Changes the justify to right in the icon box at the bottom of the right box */
    #iconbox {
        justify-content: right;
    }

    /* Changes the margin and size of the icons at the bottom of the right box */
    i {
        font-size: 1em;
        margin: 0.4em;
    }

    /* Changes the size of the circles around the icons at the bottom of the right box */
    .icon {
        height: 2em;
        width: 2em;
    }
}