/* Imports Poppins font 400 and 600 weight */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Imports Open Sans font 400 weight */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Imports Social Media Font */
@font-face {
    font-family: 'Socialico-Regular';
    src: url('../fonts/Socialico-Regular.eot');
    src: url('../fonts/Socialico-Regular.otf') format('embedded-opentype'),
    url('../fonts/Socialico-Regular.woff2') format('woff2'),
    url('../fonts/Socialico-Regular.woff') format('woff'),
    url('../fonts/Socialico-Regular.ttf') format('truetype');
    }

/* Sets universal CSS variables */
:root {
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

/* Makes every element into a box that includes margins and padding. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENT FORMATTING */
/* Place all element formatting here. */

/* Effects all elements */
html {
    background-image: url(../images/bg-mobile.svg) ;
    background-color: var(--primary-color);
    font-size: 15px;
    
}

/* Loads the icon web font */
i {
    font-family: 'Socialico-Regular', Helvetica, Arial, sans-serif;
}

/* CLASS FORMATTING */
/* Place all class formatting here. */

.icon {

}

/* ID FORMATTING */
/* Place all id formatting here. */

/* Makes a foundation for all other boxes */
#showbox {
    padding: 0;
}

/* Formats the main container */
#bigbox {    
    display: flex;
    flex-direction: column; 
}

/* Formats the top box */
#topbox {
    padding: 2em;
}

/* Formats logo image */
#logo {

}

/* Formats the whole bottom box */
#bottombox {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Formats box around mockups image */
#mockupsbox {

}

/* Formats mockups image */
#mockups {

}

/* Formats the right box at the bottom */
#rightbox {
    background-color: var(--primary-color);
    opacity: 0.76;
    border-radius: 0 0 var(--bor-rad) var(--bor-rad);
}

/* Formats the first line of text in the right box */
#rfirst {
    padding-bottom: 1em;
    font-size: 1.4em;
    font-weight: 600;
}

/* Formats the second group of text in the right box */
#rsecond {
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 400;
    opacity: 0.7;
}

/* Formats the register button in the right box */
#register {
    padding: 1.4em 0;
    text-align: center;
    border-radius: var(--bor-rad);
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px 0 rgba(73, 66, 92, 0.2), 0 6px 20px 0 rgba(73, 66, 92, 0.19);
}

/* Formats the link for the register button */
#register a {
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

/* Formats the hover state for the register button */
#register:hover {
    background-color: white;
}

/* Formats the hover state for the link in the register button */
#register:hover > a {
    color: var(--primary-color);
}

/* Formats icon box at bottom of right box */
#iconbox {

}

#ifirst {

}

#facebook {

}

#isecond {

}

#twitter {

}

#ithird {

}

#instagram {

}


/* Code by FrontEndMentor.io */
/* Formats the footer */
#attribution { 
    color: rgb(70, 68, 68);
    font-size: 1em; 
    text-align: center; 
}
    
/* Code by FrontEndMentor.io */
/* Formats the footer links */
#attribution a { 
    color: hsl(228, 45%, 44%);   
}

/* Responsive CSS */

/* Allows elements to be stacked in rows without filling all 12 columns */
.row::after,.row::before {
    content: "";
    clear: both;
    display: table;
}

/* Changes settings at 768px screen size */
@media only screen and (min-width: 768px) {

    /* Changes the em base */
    html {
        background-image: url(../images/bg-desktop.svg) ;
        /* font-size: 13px; */
    }

    /* Changes the foundation to the size of the view height */
    #showbox {
        height: 100vh;
    }

    /* Changes the margin and width of the main container */
    #bigbox {  
        /* width: 50%;   */
        /* margin: 10% auto; */
    }

    /* Changes padding around the text */
    #topbox {
        /* padding: 3em 7em 2.5em 3em; */
    }

    #logo {

    }

    /* Changes the orientation of the bottom box to row */
    #bottombox {
        flex-direction: row;
    }

    #mockupbox {

    }

    #mockups {

    }

    /* Changes the border radius of the bottom right box */
    #rightbox {
    
    }
    
    /* Changes the font size and paddingof the first line of the text in the bottom right box */
    #rfirst {
        /* padding-bottom: 1em; */
        /* font-size: 1.3em; */
    }
    
    /* Changes the font size of the second line of text in the bottom right box */
    #rsecond {
        /* font-size: 1em; */
    }
    
    /* Changes the padding of the signup button */
    #register {
        /* padding: 1.2em 0; */
    }

    /* Changes the size of the link font in the signup button */
    #register a {
        /* font-size: 1.1em; */
    }

    /* Formats icon box at bottom of right box */
    #iconbox {

    }

    #ifirst {

    }

    #facebook {

    }

    #isecond {

    }

    #twitter {

    }

    #ithird {

    }

    #instagram {

    }
}